body {
    width: 100%;
    overflow-x: hidden;
    background-color: #252526;
    color: white;
}

header {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
}

footer {
    background-color: #1e1e1e;
    padding: 1em;
    margin-top: 3em;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 5em;
}

.maf {
    padding-left: 1em;
    padding-right: 1em;
}

nav {
    margin-left: auto;
}

.text {
    padding-left: 2em;
    padding-right: 2em;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flopimage {
    display: flex;
    flex-direction: column;
}

.soggaimage {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.images .flopimage img,
.images .soggaimage img {
    flex: 1 1 auto;
    object-fit: cover;
    width: 600px;
    min-height: 400px;
}

.flopperer {
    padding: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #3e3e3e;
}